* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#graph {
	width: 500px;
	height: 250px;
	border: 1px solid #000;
	resize: both;
	overflow: auto;
}
